main {
  font-family: 'Quenda';
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: auto; /* Asegurarte de que solo el main maneje el overflow */
}

h1 {
  font-family: 'Galivanted';
}

h3, h4, h5, h6 {
  font-family: 'Quenda';
}

/* INICIO DE MODIFICACION DEL INPUT DE BUSQUEDA */
.input {
  background-color: darkolivegreen;
  color: white;
}
/* FIN DE MODIFICACION DEL INPUT DE BUSQUEDA */

/* INICIO DE MODIFICACION DE LA CARD */
.card-paciente {
  background-color: burlywood;
  color: white;
  border-color: darkslategray;
}
/* FIN DE MODIFICACION DE LA CARD */

