/* INICIO DE MODIFICACION DE LA TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    background: #3c58b9;
    border: 1px solid #ddd;
    color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    color: white;
    background: #3c58b9;
  }
  
  th {
    background: #3c58b9;
  }
  
  .highlight {
    background-color: #1ea150; /* Cambia este color al que prefieras */
  }
  /* FIN DE MODIFICACION DE LA TABLA */
    
    /* INICIO DE MODIFICACION DEL BOTON */
    .btn{
      position: relative;
      width: 100%;
      height: 45px;
      background: linear-gradient(#3c58b9,#5a84d7,#3c58b9);
      border: 2px solid #b4acf5;
      outline: none;
      border-radius: 40px;
      cursor: pointer;
      color: white;
      font-weight: 600;
      z-index: 1;
      overflow: hidden;
      margin-bottom: 15px;
    }
    
    .btn::before{
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#3c58b9,#5a84d7,#3c58b9);
        z-index: -1;
        transition: .5s;
    }
    
    .btn:hover::before{
        top: 0;
    }
    /* FIN DE MODIFICACION DEL BOTON */