main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /* Luego de aca cambiar las font y color */
    color: white;
    font-family: 'Quenda';
    position: relative;
}

/* INICIO DEL WRAPPER DEL LOGIN */
.wrapper-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #080929;
    border: 2px solid #ab9fff;
    box-shadow: 0 0 10px #e9e7ed;
}
  
/* FIN DEL WRAPPER DEL LOGIN */


/* INICIO DE MODIFICAION DEL SPINNER */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.mat-progress-spinner {
    width: 80px;
    height: 80px;
}
/* FIN DE MODIFICAION DEL SPINNER */


/* INICIO DEL LOGIN */
.wrapper-login .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 90%; /* Ajustar la altura para asegurar que los botones quepan */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px; /* Espaciado interno */
    /* overflow: auto; Permitir scroll dentro del contenedor del formulario */
}

.wrapper-login .form-box.login{
    left: 0;
    padding: 0 40px 0 60px;
    /* display: none; */
}

.form-box h2{
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Galivanted';
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    /* Para que debajo de los input aparezca la barra */
    border-bottom: 2px solid white;
    padding-right: 23px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: .5s;
}

/* Al escribir sobre el input le cambio el color */
.input-box input:focus,
.input-box input:valid{
    border-bottom-color: #ff3b3b;
}

.input-box label{
    position: absolute;
    top: 0;
    left: 0 ;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    pointer-events: none;

    /* Transicion para que suba */
    transition: .5s;
}

/* Transicion para q suba */
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #b4acf5;
} 
#usuario-requerido {
    position: absolute;
    top: 75px;
    left: 0;
  }
 

/* inicio Estilos para el boton de login */
.btn {
    position: relative;
    width: 80%;
    height: 40px;
    background: linear-gradient(#3c58b9, #5a84d7, #3c58b9);
    border: 2px solid #b4acf5;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 15px; /* Add margin to the bottom */
    font-size: 14px;
}

.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3c58b9, #5a84d7, #3c58b9);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}


/* INICIO DEL APARTADO DE FAST LOGIN */
.wrapper-login .div-informacion{
    position: absolute;
    top: 0;
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/assets/img-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Para que el texto aparezca a la derecha */
.wrapper-login .div-informacion.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    /* display: none; */
    @media (max-width: 768px) {
        padding: 0 20px 40px 80px;
      }
    
}

.div-informacion h2{
    font-size: 36px;
    color: black;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: 'Galivanted';
}

.wrapper-login .div-informacion.login h2,
.wrapper-login .div-informacion.login p {
  text-align: right;
}


.div-informacion p{
    font-size: 20px;
    color: black;
    font-family: 'Quenda';
    font-weight: bold;
}


.fast-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center; */
}

.fast-login p{
    color: white;
    font-size: 12px;
}

.btn-fast-login {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background-color: #080929;
    margin-bottom: 10px;

}

.btn-fast-login img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.btn-fast-login:hover {
    transform: scale(1.1); 
    border: 6px solid #1ea150;
}

.btn-label {
    display: inline;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Quenda';
    margin-top: 9px; /* Espacio entre la imagen y la etiqueta */
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
}


/* FIN DEL APARTADO DE FAST LOGIN */

/* INICIO DE LA SHAPE CURVADA */
.wrapper-login .curved-shape{
    position: absolute;
    top: -4px;
    right: 0;
    width: 1900px;
    height: 900px;
    border-bottom: 3px solid #b4acf5;
    transform-origin: bottom right;
    transition: 1.5s ease-in;
    transition-delay: 1.6s;
}
/* FIN DE LA SHAPE CURVADA */


/* INICIO DE MEDIA QUERYS */
@media screen and (max-width: 500px) {
    .wrapper-login {
        width: 100%;
    }
    .form-box {
        padding: 0 10px;
    }
    .form-box h2 {
        font-size: 24px; 
    }
}

@media screen and (zoom: 1.5) {
    .wrapper-login .curved-shape {
      width: 130vw;  /* Adjust width for 150% zoom */
    }
  }
/* FIN DE MEDIA QUERYS */

/* INICIO DE MODIFICAION DEL SPINNER */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.mat-progress-spinner {
    width: 80px;
    height: 80px;
}
/* FIN DE MODIFICAION DEL SPINNER */
