<main>
    <!-- COMIENZO DEL LOGIN --> 
    <div class="wrapper-login">
        
        <!-- INICIO DE LA FORMA CURVADA -->
        <div class="curved-shape"></div> 
        <!-- FIN DE LA FORMA CURVADA -->

        <div class="form-box login">
            <h2 style="--i:0;">Log-In</h2>
            <form [formGroup]="formLogin">
                <!-- INICIO PARA EL MAIL -->
                <div class="input-box"
                style="--i:2;">
                    <input type="email" class="form-control" required autocomplete="off"
                    formControlName="usuario" name="inputEmail">
                    <label for="email">E-Mail:</label>
                    <label id="usuario-requerido" *ngIf="formLogin.controls['usuario'].errors?.['required'] && formLogin.controls['usuario'].touched" style="color: red;">
                        Usuario requerido
                    </label>
                </div><br>
                <!-- FIN PARA EL MAIL -->

                <!-- INICIO DE LA PASSWORD -->
                <div class="input-box" 
                style="--i:2;">
                    <input type="password" class="form-control" required autocomplete="off"
                    formControlName="clave"  name="inputPassword">
                    <label for="password">Password:</label>
                    <div *ngIf="formLogin.controls['clave'].errors?.['required'] && formLogin.controls['clave'].touched" style="color: red;">
                        Clave requerida
                      </div>
                </div>
                <!-- FIN DE LA PASSWORD -->

                <!-- INICIO DE LOS BOTONES -->
                <div class="input-box">
                    <!-- EL BOTON DE LOGIN SOLO ESTARA ACTIVO CUANDO SE LLENEN LOS CAMPOS -->
                     <button type="submit" class="btn" [disabled]="formLogin.invalid" (click)="onLogin()">
                        Log-In
                    </button> 
                </div>
                <!-- FIN DE LOS BOTONES -->
                <!-- FIN DEL LOGIN --> 
                <br>
            </form>
        </div>
        <!-- FIN DEL LOGIN -->

        <!-- COMIENZO DEL DIV DE FAST LOGIN -->
        <div class="div-informacion login">
            <h2>Acceso Rápido</h2>
            <!-- INICIO DE LOS FAST LOGIN -->
            <div class="fast-login">
                <!-- INICIO DEL BOTON DE ADMINISTRADOR -->
                <button type="submit" class="btn-fast-login" (click)="onFastLoginAdmin()">
                    <img [src]="admin?.data?.img" alt="img-admin" *ngIf="admin?.data?.img">
                    <span class="btn-label">Admin</span>
                </button>
                <!-- FIN DEL BOTON DE ADMINISTRADOR -->
                
                <!-- INICIO DE LOS BOTONES DE PACIENTES -->
                <button type="submit" class="btn-fast-login" (click)="onFastLoginPaciente1()">
                    <img [src]="paciente1?.data?.img1" alt="img-pac-1" *ngIf="paciente1?.data?.img1">
                    <span class="btn-label">Paciente #1</span>
                </button> 

                <button type="submit" class="btn-fast-login" (click)="onFastLoginPaciente2()">
                    <img [src]="paciente2?.data?.img1" alt="img-pac-2" *ngIf="paciente2?.data?.img1">
                    <span class="btn-label">Paciente #2</span>
                </button> 

                <button type="submit" class="btn-fast-login" (click)="onFastLoginPaciente3()">
                    <img [src]="paciente3?.data?.img1" alt="img-pac-3" *ngIf="paciente3?.data?.img1">
                    <span class="btn-label">Paciente #3</span>
                </button> 
                <!-- FIN DE LOS BOTONES DE PACIENTES -->

                <!-- INICIO BOTONES ESPECIALISTAS -->
                <button type="submit" class="btn-fast-login" (click)="onFastLoginEspecialista1()">
                    <img [src]="especialista1?.data?.img" alt="img-esp-1" *ngIf="especialista1?.data?.img">
                    <span class="btn-label">Especialista #1</span>
                </button> 
                <button type="submit" class="btn-fast-login" (click)="onFastLoginEspecialista2()">
                    <img [src]="especialista2?.data?.img" alt="img-esp-2" *ngIf="especialista2?.data?.img">
                    <span class="btn-label">Especialista #2</span>
                </button> 
                <!-- FIN BOTONES ESPECIALISTAS -->
            </div>
            <!-- FIN DE LOS FAST LOGIN -->
        </div>
        <!-- FIN DEL DIV DE FAST LOGIN -->
    </div>

    <!-- INICIO DEL SPINNER -->
    <div *ngIf="isLoading" class="spinner-overlay">
        <mat-progress-spinner mode="indeterminate" diameter="80" color="primary"></mat-progress-spinner>
    </div>
    <!-- FIN DEL SPINNER -->

    <br><br><br>
</main>
