<main>
    <!-- COMIENZO DEL LOGIN --> 
    <div class="wrapper-login">
        
        <!-- INICIO DE LA FORMA CURVADA -->
        <div class="curved-shape"></div> 
        <!-- FIN DE LA FORMA CURVADA -->

        <div class="form-box login">
            <h2 style="--i:0;">Log-In</h2>
            <form [formGroup]="formLogin">
                <!-- INICIO PARA EL MAIL -->
                <div class="input-box"
                style="--i:2;">
                    <input type="email" class="form-control" required autocomplete="off"
                    formControlName="usuario" name="inputEmail">
                    <label for="email">E-Mail:</label>
                    <label id="usuario-requerido" *ngIf="formLogin.controls['usuario'].errors?.['required'] && formLogin.controls['usuario'].touched" style="color: red;">
                        Usuario requerido
                    </label>
                </div><br>
                <!-- FIN PARA EL MAIL -->

                <!-- INICIO DE LA PASSWORD -->
                <div class="input-box" 
                style="--i:2;">
                    <input type="password" class="form-control" required autocomplete="off"
                    formControlName="clave"  name="inputPassword">
                    <label for="password">Password:</label>
                    <div *ngIf="formLogin.controls['clave'].errors?.['required'] && formLogin.controls['clave'].touched" style="color: red;">
                        Clave requerida
                      </div>
                </div>
                <!-- FIN DE LA PASSWORD -->

                <!-- INICIO DE LOS BOTONES -->
                <div class="input-box"
                style="--i:3;">
                    <!-- EL BOTON DE LOGIN SOLO ESTARA ACTIVO CUANDO SE LLENEN LOS CAMPOS -->
                     <button type="submit" class="btn" [disabled]="formLogin.invalid" (click)="onLogin()">
                        Log-In
                    </button> 
                    <button type="submit" class="btn" (click)="onFastLoginAdmin()">
                        Fast Login Admin
                    </button>
                    <button type="submit" class="btn" (click)="onFastLoginPaciente()">
                        Fast Login Paciente
                    </button> 
                    <button type="submit" class="btn" (click)="onFastLoginEspecialista()">
                        Fast Login Especialista
                    </button> 
                </div>
                <!-- FIN DE LOS BOTONES -->
                <!-- FIN DEL LOGIN --> 
                <br>
            </form>
        </div>
        <!-- FIN DEL LOGIN -->

        <!-- COMIENZO DEL DIV DE INTOMACION -->
        <div class="div-informacion login">
            <!-- Puede ser algo medio pixel art -->
            <!-- <h2 style="--i:0; --j:20;">Inicia Sesión</h2>
            <p style="--i:1; --j:21;">Para poder controlar tu cuenta! </p> -->
        </div>
        <!-- FIN DEL DIV DE INFORMACION -->
    </div>
    <br><br><br>
</main>
