<!-- INICIO HEADER -->
<header class="pb-3 mb-4 border-bottom">
    <div class="row justify-content-between">
        <div class="col-10">
            <a href="" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="/assets/icons/logo-pagina.png" width="80" height="80" alt="img-logo">
                <span>Clinica OnLine</span>
            </a>
        </div>
    </div>
</header>
<!-- FIN HEADER -->

<!-- INICIO DEL MAIN -->
<main>
    <div class="container">
        <div class="py-3 text-center">
            <h2 class="title-formulario">Registro para Pacientes</h2>
        </div>
    </div>
    <div class="div-volver">
        <button class="btn-volver mb-3" routerLink="">Pagina de inicio</button>
    </div>
    <hr>
    <!-- INICIO PARA EL FORM DE ALTA DE PACIENTES -->
    <app-form-paciente></app-form-paciente>
    <!-- FIN PARA EL FORM DE ALTA DE PACIENTES -->
</main><br><br>
<!-- FIN DEL MAIN -->
