<!-- INICIO HEADER -->
<header class="pb-3 mb-4 border-bottom">
    <div class="row justify-content-between">
        <div class="col-10">
            <a href="" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="/assets/icons/logo-pagina.png" width="80" height="80" alt="img-logo">
                <span>Clinica OnLine</span>
            </a>
        </div>
    </div>
</header>
<!-- FIN HEADER -->

<!-- INICIO DEL CUERPO -->
<main>
    <div class="container-contenidos">
        <!-- INICIO DEL CONTAINER DE LA IMAGEN -->
        <div class="container-img">
            <!-- INICIO DEL CONTAINER DEL TEXTO -->
            <div class="container-texto">
                <h1>Atención Médica de Calidad a Tu Alcance !</h1>
                <hr>
                <p>En nuestra clínica, nos dedicamos a ofrecer una atención médica integral y personalizada para cada</p>
                <p>uno de nuestros pacientes. Contamos con un equipo de especialistas altamente calificados y</p>
                <p>tecnología de punta para asegurar que recibas el mejor cuidado posible.</p>

                <!-- INICIO DEL BOTON PARA INGRESAR (LOGIN) -->
                <button class="btn-ingresar" type="button">Ingresar</button>
                <!-- FIN DEL BOTON PARA INGRESAR (LOGIN) -->
            </div>
            <!-- FIN DEL CONTAINER DEL TEXTO -->
        </div>
        <!-- FIN DEL CONTAINER DE LA IMAGEN -->   

        <!-- INICIO CONTAINER DE LOS REGISTROS -->
        <div class="container-registros row justify-content-around">
            
            <!-- INICIO DEL BTN PARA REGISTRO ESPECIALISTAS -->
            <div class="col-md-4 py-4">
                <div class="circular-div" routerLink="register-especialista">
                    <img src="assets/img-especialistas.jpg" alt="img-especialistas" class="circular-image">
                    <h2 class="centered-text">Especialista</h2>
                </div>
            </div>

            <div class="col-md-4 py-4">
                <div class="circular-div" routerLink="register-paciente">
                <img src="assets/img-pacientes.jpg" alt="img-pacientes" class="circular-image">
                <h2 class="centered-text">Paciente</h2>
                </div>
            </div>
            <!-- FIN DEL BTN PARA REGISTRO ESPECIALISTAS -->
        </div>
        <!-- FIN CONTAINER DE LOS REGISTROS -->
    </div><br><br> 
    <hr>
</main>
<!-- FIN DEL CUERPO -->

<!-- INICIO DEL FOOTER -->
<footer>
    <p>&#64;Rocio Bessio - LABORATORIO IV - 2024</p>
</footer>

<!-- FIN DEL FOOTER -->


