<div class="container">
    <!-- INICIO DEL BOTON DE DESCARGA -->
    <div class="row align-items-left mt-2">
        <div class="col-auto">
          <select class="form-select" name="especialistas" [(ngModel)]="especialistaSeleccionado">
            <option value="todos">TODOS</option>
            <option *ngFor="let esp of especialistasFiltrados" [value]="esp.email">
              {{esp.nombre}} {{esp.apellido}}
            </option>
          </select>
        </div>
      
        <div class="col-auto">
          <button class="btn btn-outline-success" (click)="onGenerarPdfHistorial()">
            Descargar Historial Clinico
          </button>
        </div>
    </div>
    <!-- FIN DEL BOTON DE DESCARGA -->  
      
    

    <!-- INICIO DE LA TABLA -->
    <div class="py-3" *ngIf="historialClinico.length > 0">
        <table>
            <thead>
                <tr>
                    <th>Especialista</th>
                    <th class="text-align-center">Especialidad</th>
                    <th class="text-align-center">Peso</th>
                    <th class="text-align-center">Altura</th>
                    <th class="text-align-center">Presión</th>
                    <th class="text-align-center">Temperatura</th>
                    <th class="text-align-center">Observación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let historiaClinica of historialClinico">
                    <td *ngIf="getEspecialista((historiaClinica.emailEspecialista))" class="text-align-center">
                        {{ especialista.nombre | doctor }} {{ especialista.apellido }}
                    </td>
                    <td class="text-align-center">{{historiaClinica.especialidad}}</td>
                    <td class="text-align-center">{{historiaClinica.peso}}</td>
                    <td class="text-align-center">{{historiaClinica.altura}}</td>
                    <td class="text-align-center">{{historiaClinica.presion}}</td>
                    <td class="text-align-center">{{historiaClinica.temperatura}}</td>
                    <!-- MOSTRAR EL DATO DINAMICO -->
                    <div *ngFor="let dato of historiaClinica.datos">
                        <td class="text-align-center">{{ sacarKey(dato) }}: {{ dato[sacarKey(dato)] }}</td>
                    </div>   
                </tr>
            </tbody>
        </table>
    </div>
    <!-- FIN DE LA TABLA -->
</div>

<!-- INICIO DEL SPINNER -->
<div *ngIf="isLoading" class="spinner-overlay">
    <mat-progress-spinner mode="indeterminate" diameter="80" color="primary"></mat-progress-spinner>
</div>
<!-- FIN DEL SPINNER -->