:host {
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden; /* Agregado para eliminar el scroll horizontal */
}

.content {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: content;
    overflow-y: auto;
    position: relative;
    width: 100vw; /* Asegúrate de que el contenido ocupe el ancho completo de la ventana */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}
