<div class="sidebar">
    <!-- INICIO DE LA SIDEBAR -->
    <nav class="menu">
        <ul>
            <li>
                <!-- INICIO DEL VOLVER -->
                <a (click)="opcion('usuarios')">
                    <img src="assets/icons/logo-pagina.png" alt="logo-pagina">
                    <span class="nav-text">Volver</span>
                </a>
                <!-- FIN DEL VOLVER -->
            </li>

            <!-- INICIO DE ESPECIALISTAS -->
            <li>
                <a (click)="opcion('especialista')">
                    <i class="fa fa-user-md fa-2x"></i>
                    <span class="nav-text">
                        Especialistas
                    </span>
                </a>
            </li>
            <!-- FIN DE ESPECIALISTAS -->

            <!-- INICIO DE PACIENTES -->
            <li>
                <a (click)="opcion('paciente')">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Pacientes
                    </span>
                </a>
            </li>
            <!-- FIN DE PACIENTES -->



            <!-- INICIO DE ADMINS -->
            <li>
                <a (click)="opcion('admin')">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Administradores
                    </span>
                </a>
            </li>
            <!-- FIN DE ADMINS -->

            <!-- INICIO DE SOLICITAR TURNO -->
            <li>
                <a (click)="opcion('solicitar-turno')">
                    <i class="fa fa-calendar fa-2x"></i>
                    <span class="nav-text">
                        Dar Turno
                    </span>
                </a>
            </li>
            <!-- FIN DE SOLICITAR TURNO -->

            <!-- INICIO DE VER TURNOS -->
            <li>
                <a (click)="opcion('turnos')">
                    <i class="fa fa-calendar fa-2x"></i>
                    <span class="nav-text">
                        Ver Turnos
                    </span>
                </a>
            </li>
            <!-- FIN DE VER TURNOS -->
        </ul>
        <!-- INICIO DEL LOGOUT -->
        <ul class="logout">
            <li>
                <a (click)="logOut()">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        LogOut
                    </span>
                </a>
            </li>
        </ul>
        <!-- FIN DEL LOGOUT -->
    </nav>
    <!-- FIN DE LA SIDEBAR -->
</div>