<main>
    <div class="container py-4">
        <h1>Visualizar mis Turnos</h1><hr>

        <!-- INICIO DE BUSCAR PARA FILTRAR TURNOS -->
        <div class="row justify-content-start">
            <div class="col-6 mt-2">
                Buscar:
            </div>
            <div class="col-6">
                <input type="text" class="input form-control" (input)="onFiltrarTurnos($event)">
            </div>
        </div>
        <!-- FIN DE BUSCAR PARA FILTRAR TURNOS -->

        <!-- INICIO DE MOSTRAR TURNOS -->
        <div  class="row mt-5" *ngIf="turnosMostrar.length > 0">
            <!-- INICIO DE MOSTRAR INFORMACION SOBRE LOS TURNOS -->
            <div class="card-paciente col-md-4 col-xl-4 rounded-3 border border-3 border-secondary text-left pt-3"
            *ngFor="let turno of turnosMostrar">
                <!-- UTILIZO EL PIPE DEL DOCTOR -->
                <h3 *ngIf="getEspecialista(turno.emailEspecialista) as especialista">
                    Especialista: {{ especialista.nombre | doctor }} {{ especialista.apellido }}
                  </h3>
                <!-- UTILIZO EL PIPE DEL DOCTOR -->          
                
                <h4>Especialidad: {{turno.especialidad}}</h4>
                <h4>Fecha: {{turno.fecha}}</h4>
                <h4>Hora: {{turno.horario.hora.toString() | horaFormato}}</h4>
                <h4>Nro. Consultorio: {{turno.horario.nroConsultorio}}</h4>
                <h4 class="text-capitalize">Estado: {{turno.estado}}</h4><hr>

                <!-- INICIO DE LOS BOTONES -->
                <div class="row justify-content-start">
                    <!-- SI LE ACEPTARON EL TURNO, PUEDE CANCELARLO -->
                    <div class="col-xl-3 mb-3" *ngIf="turno.estado === 'aceptado'"
                    (click)="onCancelarTurno(turno)">
                        <button class="btn btn-outline-danger">Cancelar</button>
                    </div>

                    <!-- PUEDE ESCRIBIR UNA RESEÑA -->
                    <div class="col-xl-3 mb-3" *ngIf="onGetResenia(turno) !== ''">
                        <button class="btn btn-outline-secondary" (click)="onVerResenia(turno)">Ver Reseña</button>
                    </div>

                    <div class="col-xl-3 mb-3"
                        *ngIf="turno.estado == 'finalizado' && onGetResenia(turno) !== '' && turno.encuesta.length == 0"
                        (click)="onCompletarEncuesta(turno)">
                        <button class="btn btn-outline-info">Finalizar Encuesta</button>
                    </div>

                    <!-- PUEDE CALIFICAR LA ATENCION DEL ESPECIALISTA -->
                    <div class="col-xl-3 mb-3" *ngIf="turno.estado == 'finalizado' && turno.calificacion == ''">
                        <button class="btn btn-outline-warning" (click)="onCalificarTurno(turno)">Calificar Atención</button>
                    </div>
                </div>
                <!-- FIN DE LOS BOTONES -->
            </div>
            <!-- FIN DE MOSTRAR INFORMACION SOBRE LOS TURNOS -->
        </div>
        <!-- FIN DE MOSTRAR TURNOS -->

    </div>
</main>
